<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FruitShop.UI.Settings.ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=FruitDb;Integrated Security=True;TrustServerCertificate=True;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>